<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-center">
      {{!-- <h1 class="display-4">Bingey the Cat</h1> --}}
      <img src="./assets/img/CatBurgerer.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Burgers to eat:</h5>
          <p class="card-text">
            <ul class="to-eat">
              {{#each burgers}}
              {{#unless devoured}}
              {{> burgers/burger-block devour=true}}
              {{/unless}}
              {{/each}}
            </ul>
          </p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Burgers eaten:</h5>
          <p class="card-text">
            <ul class="eaten">
              {{#each burgers}}
              {{#if devoured}}
              {{> burgers/burger-block devour=false}}
              {{/if}}
              {{/each}}
            </ul>
          </p>

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-submit">
  <div class="col-lg-4">
    <div class="card">
      <h5 class="card-title">Create a burger:</h2>
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-6">
                <input type="text" class="form-control form-control-lg" id="burgerNameInput" placeholder="Name your burger...">
              </div>
              <div class="col-lg-5"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
              <button class="btn btn-success text-center" type="submit" id="submit">Place your order</button>
            </div>
            <div class="col-lg-4"></div>
            <br>
            <br>
          </div>
        </form>
    </div>
  </div>
</div>
</div>