li {
    padding: 5px;
    margin: 5px;
    background: yellow;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: greenyellow;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  